.establecimiento-container {
  display: flex;
  flex-direction: column;
}

.establecimiento-container .container-datos {
  display: grid;
  grid-template-columns: 37rem 30rem auto;
  gap: 1rem;
  margin-top: 1rem;
  margin-right: 2rem;
  padding: 2rem;
  background: white;
  background: linear-gradient(to right, #76d1f5, #2aece3);
  border-radius: 8px;
  border: 1px solid rgb(24, 23, 23);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
}

.establecimiento-container .container-datos .column1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}

.establecimiento-container .container-datos .column1 h2 {
  width: 11rem;
}

.establecimiento-container .container-datos .column1 input {
  border: 1px solid black;
  width: 25rem;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(173, 173, 173, 0.178);
  font-size: 14px;
}

.establecimiento-container .container-datos .column1 button {
  width: 11rem;
  height: 3.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  background: linear-gradient(to right, #3fe715, #befa79);
  border: 1px solid rgb(24, 23, 23);
  font-weight: lighter;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
  border: 1px solid rgb(24, 23, 23);
}

.establecimiento-container .container-datos .column1 button:hover {
  background: linear-gradient(to right, #f30e79, #f554c5);
  color: white;
}

.establecimiento-container .container-botones {
  display: none;
}

.establecimiento-container .container-datos .column1 div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.establecimiento-container .container-datos .column2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}

.establecimiento-container .container-datos .column2 h2 {
  width: 10rem;
}

.establecimiento-container .container-datos .column2 div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: left;
}

.establecimiento-container .container-datos .column2 select,
.column2 input {
  border: 1px solid black;
  background: white;
  width: 18rem;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(173, 173, 173, 0.178);
  font-size: 13px;
  cursor: pointer;
}

.establecimiento-container .container-datos .column3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 1px solid rgb(24, 23, 23);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, rgb(250, 246, 21), rgb(253, 250, 42));
  border-radius: 8px;
}

.establecimiento-container .container-datos .column3 img {
  background: white;
  width: 14rem;
  height: 14rem;
  border: 1px solid gray;
  cursor: pointer;
}

.establecimiento-container .container-datos .column3 div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.establecimiento-container .container-datos .column3 div button {
  width: 7rem;
  height: 3rem;
  border-radius: 6px;
  cursor: pointer;
}

.establecimiento-container .container-datos .column3 .button1 {
  background: linear-gradient(to right, #76d1f5, #2aece3);
  border: 1px solid rgb(24, 23, 23);
  font-weight: lighter;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
  border: 1px solid rgb(24, 23, 23);
}

.establecimiento-container .container-datos .column3 .button2 {
  background: linear-gradient(to right, #f52727, #ff7a7a);
  border: 1px solid gray;
  font-weight: lighter;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
  border: 1px solid rgb(24, 23, 23);
}

.establecimiento-container .container-datos .column3 .button1:hover {
  background: linear-gradient(to right, #f30e79, #f554c5);
  color: white;
}

.establecimiento-container .container-datos .column3 .button2:hover {
  background: linear-gradient(to right, #f30e79, #f554c5);
  color: white;
}

.establecimiento-container .establecimiento-datos {
  display: flex;
  cursor: pointer;
}

.establecimiento-container .establecimiento-datos .content:hover {
  scale: 1.01;
  box-shadow: 1px 5px 5px rgba(236, 18, 120, 0.774);
}

.establecimiento-container .establecimiento-datos .content {
  width: 98%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(24, 23, 23);
  border-radius: 8px;
  margin-top: 1rem;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: linear-gradient(to right, #b3fa97, #82f873);
}

.establecimiento-container .establecimiento-datos .content div {
  display: flex;
}

.establecimiento-container .establecimiento-datos .content div button {
  background: linear-gradient(to right, #76d1f5, #2aece3);
  border: 1px solid rgb(24, 23, 23);
  font-weight: lighter;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
  gap: 1rem;
  height: 2.5rem;
  width: 11rem;
  border-radius: 8px;
  cursor: pointer;
}

.establecimiento-container .establecimiento-datos .content div button:hover {
  background: linear-gradient(to right, #f30e79, #f554c5);
  color: white;
}

@media screen and (max-width: 600px) {
  .establecimiento-container {
    width: auto;
  }

  .establecimiento-container .container-datos {
    grid-template-columns: 1fr;
    width: 33rem;
    padding: 15px;
    gap: 0;
  }

  .establecimiento-container .container-datos .column1 {
    margin: 0;
  }

  .establecimiento-container .container-datos .column1 h2 {
    font-size: 15px;
    width: 9rem;
  }

  .establecimiento-container .container-datos .column1 input {
    width: 20rem;
  }

  .establecimiento-container .container-datos .column1 button {
    display: none;
  }

  .establecimiento-container .container-datos .column2 {
    margin: 0;
  }

  .establecimiento-container .container-datos .column2 h2 {
    font-size: 15px;
    width: 9rem;
  }

  .establecimiento-container .container-datos .column2 input {
    width: 20rem;
  }

  .establecimiento-container .container-datos .column2 select {
    width: 20rem;
  }

  .establecimiento-container .container-datos .column3 {
    height: 23rem;
    margin-top: 1rem;
  }

  .establecimiento-container .container-botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 34rem;
  }

  .establecimiento-container .container-botones div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .establecimiento-container .container-botones div button {
    width: 11rem;
    height: 3.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    background: linear-gradient(to right, #76d1f5, #2aece3);
    border: 1px solid rgb(24, 23, 23);
    font-weight: lighter;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
    border: 1px solid rgb(24, 23, 23);
  }

  .establecimiento-container .container-botones div button:hover {
    background: linear-gradient(to right, #f30e79, #f554c5);
    color: white;
  }

  .establecimiento-container .establecimiento-datos {
    width: 34rem;
    display: flex;
  }

  .establecimiento-container .establecimiento-datos .content {
    display: flex;
    height: 20rem;

    align-items: center;
    justify-content: center;
  }

  .establecimiento-container .establecimiento-datos .content div {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
}
