.planificacion-titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.planificacion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  width: 98%;
}

.planificacion-container .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 0.5rem;
}

.titulo-tema-seleccionado {
  margin-top: 0.5rem;
  color: rgb(6, 6, 179);
  font-weight: bold;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.tema-seleccionado {
  margin-top: 0.5rem;
  background: linear-gradient(to right, #76d1f5, #2aece3);
  border: 2px solid black;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.planificacion-container .botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.planificacion-container .botones button {
  height: 3.5rem;
  padding: 7px;
  font-size: 14px;
  font-weight: 600;
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, #24cf1e, #c6f7aa);
  gap: 3px;
}

.planificacion-container .botones button:hover {
  background: linear-gradient(to top, #f30e79, #f554c5);
  color: white;
}

.planificacion-container .botones button img {
  height: 3rem;
  width: 3rem;
}

.planificacion-container .buscar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  text-align: left;
  justify-content: left;
  align-items: center;
}

.planificacion-container .buscar input {
  border: 1px solid black;
  padding: 5px;
  height: 2.5rem;
  width: 25rem;
  border-radius: 5px;
  font-size: 15px;
}

.planificacion-container .buscar button {
  height: 3.5rem;
  padding: 7px;
  font-size: 14px;
  font-weight: 600;
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, #24cf1e, #c6f7aa);
  gap: 3px;
}

.planificacion-container .buscar button:hover {
  background: linear-gradient(to top, #f30e79, #f554c5);
  color: white;
}

.planificacion-container .buscar button img {
  width: 3rem;
  height: 3rem;
}

.planificacion-modal-temas {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #76d1f5, #2aece3);
  height: 95%;
  width: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border: 5px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
}

.planificacion-modal-temas .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.planificacion-modal-temas .container .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.planificacion-modal-temas .container .titulo h2 {
  font-size: 20px;
}

.planificacion-modal-temas .container .busqueda {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.planificacion-modal-temas .container .busqueda input {
  border: 1px solid black;
  width: 30rem;
  height: 3rem;
  border-radius: 5px;
  padding: 8px 8px;
  font-size: 17px;
  text-align: left;
}

.planificacion-modal-temas .container .busqueda button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  width: 10rem;
  height: 4rem;
  background: linear-gradient(to top, #24cf1e, #c6f7aa);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
}

.planificacion-modal-temas .container .busqueda h3 {
  border: solid 1px black;
  padding: 5px;
  font-size: 16px;
  background: rgb(248, 248, 248);
  width: 47rem;
  height: 3rem;
  align-items: center;
}

.planificacion-modal-temas .container .busqueda button img {
  width: 3rem;
  height: 3rem;
}

.planificacion-modal-temas .container .busqueda button:hover {
  background: linear-gradient(to top, #f30e79, #f554c5);
  color: white;
}

.planificacion-modal-temas .container .tabla {
  border: none;
  padding: 0px;
}

.planificacion-modal-temas .container .tabla table {
  width: 99.5%;
  max-height: 30rem;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border: 0.5px solid black;
  font-size: 1.1rem;
  background: white;
  margin: 0.5rem;
  align-self: start;
  overflow-y: auto;
}

.planificacion-modal-temas .container .tabla th {
  border: 0.5px solid black;
  text-align: center;
  padding: 5px;
  background-color: rgb(253, 87, 95);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 7rem;
}

.planificacion-modal-temas .container .tabla td {
  border: 0.5px solid black;
  text-align: center;
  padding: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 7rem;
  cursor: pointer;
}

.planificacion-modal-temas .container .tabla tr:hover {
  background: linear-gradient(to top, #99f57b, #b5ee7f);
}

.planificacion-modal-temas .container .tabla .paginacion-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 3px;
  gap: 3px;
  justify-content: center;
  height: 3rem;
  border: none;
}

.planificacion-modal-temas .container .tabla .paginacion-container button {
  margin: 0.5rem 0;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border: solid black 1px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  background: linear-gradient(to top, #24cf1e, #c6f7aa);
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.planificacion-modal-temas
  .container
  .tabla
  .paginacion-container
  button:hover {
  background: linear-gradient(to top, #f30e79, #f554c5);
  color: white;
}

.planificacion-modal-temas
  .container
  .tabla
  .paginacion-container
  button:active {
  background: linear-gradient(to top, #f30e79, #f554c5);
  color: white;
}

.planificacion-modal-temas .container .tabla .paginacion-final {
  align-items: center;
  height: 3rem;
  font-size: 14px;
  border: none;
  justify-content: center;
  text-align: center;
}

.planificacion-container .tabla {
  margin-top: 1rem;
  border: none;
  padding: 0px;
}

.planificacion-container .tabla table {
  width: 99%;
  max-height: 30rem;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  border: 2px solid black;
  font-size: 1.1rem;
  background: white;
  margin: 0.5rem;
  align-self: start;
  overflow-y: auto;
}

.planificacion-container .tabla th {
  border: 2px solid black;
  text-align: center;
  padding: 5px;
  background-color: rgb(253, 87, 95);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 7rem;
}

.planificacion-container .tabla td {
  border: 1px solid black;
  text-align: center;
  padding: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 7rem;
  cursor: pointer;
}

.planificacion-container .tabla tr:nth-child(even) {
  background-color: #f2f2f2; /* Color de fondo para filas pares */
}

.planificacion-container .tabla tr:nth-child(odd) {
  background-color: #cff8f5;
}

.planificacion-container .tabla tr:hover {
  background: linear-gradient(to top, #99f57b, #b5ee7f);
}

.planificacion-container .tabla .paginacion-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 3px;
  gap: 3px;
  justify-content: center;
  height: 3rem;
  border: none;
}

.planificacion-container .tabla .paginacion-container button {
  margin: 0.5rem 0;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border: solid black 1px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  background: linear-gradient(to top, #24cf1e, #c6f7aa);
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.planificacion-container .tabla .paginacion-container button:hover {
  background: linear-gradient(to top, #f30e79, #f554c5);
  color: white;
}

.planificacion-container .tabla .paginacion-container button:active {
  background: linear-gradient(to top, #f30e79, #f554c5);
  color: white;
}

.planificacion-container .tabla .paginacion-final {
  align-items: center;
  height: 3rem;
  font-size: 14px;
  border: none;
  justify-content: center;
  text-align: center;
}

.planificacion-modal-detalles {
  display: flex;
  flex-direction: column;
  background: white;
  height: 96%;
  width: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
}

.planificacion-modal-detalles .container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #76d1f5, #2aece3);
  width: 100%;
}

.planificacion-modal-detalles .container .planes {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1rem;
}

.planificacion-modal-detalles .container .planes div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.planificacion-modal-detalles .container .planes div label {
  font-size: 16px;
}

.planificacion-modal-detalles .container .planes div textarea {
  border: 1px solid black;
  resize: none;
  width: 15rem;
  height: 12rem;
  padding: 3px;
}

.planificacion-modal-detalles .container .actividades {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1rem;
}

.planificacion-modal-detalles .container .actividades div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.planificacion-modal-detalles .container .actividades div label {
  font-size: 16px;
}

.planificacion-modal-detalles .container .actividades div textarea {
  border: 1px solid black;
  resize: none;
  width: 31rem;
  height: 12rem;
  padding: 3px;
}

.planificacion-modal-detalles .container .datos {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1rem;
}

.planificacion-modal-detalles .container .datos div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.planificacion-modal-detalles .container .datos div label {
  font-size: 16px;
}

.planificacion-modal-detalles .container .datos div input {
  border: 1px solid black;
  resize: none;
  width: 18rem;
  height: 2.5rem;
  padding: 3px;
}

.planificacion-modal-detalles .container .botones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.planificacion-modal-detalles .container .botones button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border: solid black 1px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  background: linear-gradient(to top, #24cf1e, #c6f7aa);
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
}

.planificacion-modal-detalles .container .botones button:hover {
  background: linear-gradient(to top, #f30e79, #f554c5);
  color: white;
}

.planificacion-modal-detalles .container .botones button img {
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 600px) {
  .planificacion-titulo {
    width: 34rem;
  }

  .planificacion-container {
    width: 34rem;
  }

  .planificacion-container .botones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .planificacion-container .buscar {
    flex-direction: column;
  }

  .planificacion-container .tabla .paginacion-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .planificacion-modal-temas {
    width: 90%;
    height: 80%;
  }

  .planificacion-modal-temas .container {
    height: 100%;
  }

  .planificacion-modal-temas .container .busqueda {
    flex-direction: column;
  }

  .planificacion-modal-temas .container .tabla .paginacion-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .planificacion-modal-detalles {
    width: 90%;
  }

  .planificacion-modal-detalles .container .planes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .planificacion-modal-detalles .container .planes div textarea {
    width: 14rem;
  }

  .planificacion-modal-detalles .container .actividades {
    flex-direction: column;
  }

  .planificacion-modal-detalles .container .actividades div textarea {
    width: 28.5rem;
  }

  .planificacion-modal-detalles .container .datos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .planificacion-modal-detalles .container .datos div input {
    width: 14rem;
  }

  .planificacion-modal-detalles .container .datos div label {
    font-size: 13px;
  }
}
